.result * {
	margin: 0;
	box-sizing: border-box;
}

#step2-gallery .gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	padding: 20px;
}

#step2-gallery img {
	width: 100%;
	display: block;
}