.result * {
	margin: 0;
	box-sizing: border-box;
}

#step3-gallery .gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	padding: 20px;
}

#step3-gallery img {
	width: 100%;
	display: block;
	object-fit: cover;
}

#step3-gallery .col {
	display: flex;
	flex-flow: column nowrap;
	gap: 20px;
}

#step3-gallery .col > * {
	flex: 1 1 auto;
}